@import url("/src/css/variables.css");
@import url("/src/css/utilities.css");

@import url("/src/css/components/text.css");
@import url("/src/css/components/header.css");
@import url("/src/css/components/sidebar.css");
@import url("/src/css/components/buttons.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: var(--gray-50);
  font-family: "Raleway", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Raleway", sans-serif;
}

.input-field {
  height: 3rem;
  padding: 0 1rem;
  border: 1px solid var(--gray-300);
  border-radius: 0.375rem;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);

  &:focus,
  &:active {
    outline: 2px solid var(--blue-500);
  }
}
